# .NET
bin/
obj/
*.user
*.suo
.vs/

# Node / Angular
node_modules/
dist/
.angular/
*.log

# Entornos y secretos
.env*
!.env.example
appsettings.*.local.json

# Editores y SO
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.tmp
